<!-- public/views/home.html -->  
  <!-- Indicators -->
<!-- Full Width Image Header -->
    <header class="header-image" id="page-top">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol> 
        <div class="headline">
            <div class="container">
                <h1>{{ title }}</h1>             
              <div class="carousel-inner" role="listbox">                
                <div class="item active">              
                <h2>{{ tagline }}</h2>              
                </div>
                <div class="item">
                <h2>{{ tagline2 }}</h2>
                </div>
                <div class="item">
                <h2>{{ tagline3 }}</h2>
                </div>       
               </div>
        </div>       
      </div>
    </header>
   <div>
   <div>
       <!-- affichage des différentes vue partiels-->
       <div ng-repeat="page in templates" ng-include="page.url"></div>      
    </div>
    <!-- /.container -->      