       
<div id="about-background">
    <hr class="featurette-divider" id="about">
    <div class="container">
        <!-- Fourth Featurette About-->
        <div class="featurette"  ng-controller="AboutController">
            <div class="col-lg-12">
                <center>         
                    <h2 class="featurette-heading">About<br>
                    </h2>
                    <br>
                    </center>                              
            </div>
            <div class="col-md-offset-2 col-lg-8" ng-repeat="step in steps"> 
                <div class="row"></div>
                <img class="featurette-image img-circle img-responsive pull-right" src={{step.imgSrc}} ng-if="$index%2 == 0">
                <img class="featurette-image img-circle img-responsive pull-left" src={{step.imgSrc}} ng-if="$index%2 != 0">
                 <h3>{{step.firstTitle}}
                    <span class="text-muted">{{step.secondTitle}}</span>
                </h3>
                <p>{{step.content}}</p><a href={{step.link}}>{{step.linkName}}</a>                              
           </div>           
      </div>
      <br>
    </div>
   </div>